@charset "utf-8";

.btn{display:inline-block;border:0;cursor:pointer;text-align:center;vertical-align:middle;white-space:nowrap;}
.btn_style1{padding:6px 12px;font-size:13px;font-weight:bold;color:#fff;}
.neg{background:red !important;}
.pos{background:blue !important;}
.close:hover,
.close:focus{text-decoration:none;cursor:pointer;opacity:.7;}

.modal{z-index:9999;display:table;position:fixed;left:0;top:0;width:100%;height:100%;border-radius:1px;background:rgba(0,0,0,.3);}
.modal_inner{display:table-cell;vertical-align:middle;text-align:center;}
.modal_content{display:flex;flex-direction:column;width:60%;height:50%;padding:0;margin:0 auto;background:#fefefe;box-shadow:0 4px 8px 0 rgba(0,0,0,.2), 0 6px 20px 0 rgba(0,0,0,.19);-webkit-animation-name:animate_modal_top;-webkit-animation-duration:.4s;animation-name:animate_modal_top;animation-duration:.4s;}
@-webkit-keyframes animate_modal_top{
  from{
    margin-top:-100%;
    opacity:0;
  }to{
    margin-top:0;
    opacity:1;
  }
}
@keyframes animate_modal_top{
  from{
    margin-top:-100%;
    opacity:0;
  }to{
    margin-top:0;
    opacity:1;
  }
}
.modal_header{position:relative;display:table;min-height:20px;padding:8px;background:#0c4ca4;font-size:14px;color:#fff;}
.modal_header .close{position:absolute;right:2%;top:50%;margin-top:-15px;font-size:30px;font-weight:bold;color:#fff;line-height:22px;cursor:pointer;}
.modal_title{display:table-cell;vertical-align:middle;}
.modal_title h2{margin:0;}
.modal_body{flex:1 0 auto;padding:10px;}
.modal_inquiry_result{margin:10px 0 0;font-family: '돋움', '굴림', Arial, sans-serif;font-size:12px;color:#666;text-align:left;}
.modal_footer{padding:5px;text-align:center;}
.modal_footer::after{content:'';display:block;clear:both;}
.modal_confirm{float:right;margin-left:10px;background:#000;}